.menu-bar {
  position:absolute;
  top: 2%;
  right: 5%;
  font-size: 1.4rem;
  color: white;
  background: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
}

@media( min-width: 768px) {
  .menu-bar{
    display:none;
  }
}

/* logout button */
.logout, .vote-btn, .delete-btn {
  cursor: pointer;
}

/* forgot password link */
.forgot {
  margin-top: 2rem;
}

/* link item */
.vote-btn {
  margin-left: 0.5rem;
  color: darkgray;

}
.content{
  margin-left: 2.7rem !important;
}
.delete-btn{
  color: red;
}